#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}

ul {
  padding: 0;
}
.containerBtns {
  display: flex;
  list-style: none;
  gap: 8px;
}
.feedback {
  display: flex;
  list-style: none;
  flex-direction: column;
  align-items: flex-start;
}

.cafeName {
  color: darkblue;
}
.descriptionText {
  display: flex;
  justify-content: flex-start;
  font-size: x-large;
  margin-top: 20px;
  padding-bottom: 30px;
}

.good {
  background-color: forestgreen;
}
.neutral {
  background-color: goldenrod;
}
.bad {
  background-color: firebrick;
}
.reset {
  background-color: saddlebrown;
}

.notification {
  font-size: x-large;
  color: brown;
}
